version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/node:25.2.1
    steps:
      - cicd/runcloud:
          project_id: "59"
          test_id: "212"
          profile_id: "81"
          browser: chrome
          headless: false
workflows:
  test-workflow:
    jobs:
      - test