version: 2.1
orbs:
  cicd: sedstart/cicd@dev:1
jobs:
  test:
    docker:
      - image: cimg/node:25.2.1
    steps:
      - cicd/runcloud:    
          api_key: SEDSTART_API_KEY_PROD      
          project_id: 547
          test_id: 4375
          profile_id: 899
          browser: chrome
          headless: false
workflows:
  test-workflow:
    jobs:
      - test